<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Exo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <title><%=pokemon.name%></title>
  </head>
  <body>
    <div class="container">
      <div class="pokemon">
        <h1><%=pokemon.name%></h1>
        <form class="change-pokemon" action="/pokemon/<%=index%>/edit" method="get">
          <input size=40 type="submit" name="" value="Change <%=pokemon.name%>">
        </form>
        <img src=<%=pokemon.img%> alt="picture of <%=pokemon.name%>">
      </div>
    </div>

  </body>
</html>
